include ez_setup.py
include LICENSE
include README.md
graft indra/resources
graft indra/benchmarks
graft data
graft doc
graft models
graft rest_api
graft db_rest_api
include indra/sources/biopax/jars/paxtools.jar
include indra/sources/cwms/trips_ontology.rdf
include indra/sources/eidos/eidos_ontology.rdf
include indra/sources/hume/hume_ontology.rdf
include indra/sources/reach/reach_rule_regexps.txt
include indra/sources/isi/isi_verb_to_indra_statement_type.tsv
include indra/tools/machine/default-config.yaml
include indra/tools/reading/util/reach_conf_fmt.txt
include indra/assemblers/cag_style.json
include indra/assemblers/cag_template.js
include indra/db/default_db_config.ini
include indra/db/elsevier_titles.txt
include indra/literature/pmids_auth_xml.txt
include indra/literature/pmids_fulltext.txt
include indra/literature/pmids_oa_txt.txt
include indra/literature/pmids_oa_xml.txt
