include LICENSE
include README.md
graft indra/resources
graft indra/benchmarks
graft doc
graft models
graft rest_api
include indra/sources/biopax/jars/paxtools.jar
include indra/sources/cwms/trips_ontology.rdf
include indra/sources/eidos/eidos_ontology.rdf
include indra/sources/hume/hume_ontology.rdf
include indra/sources/sofia/sofia_ontology.rdf
include indra/sources/reach/reach_rule_regexps.txt
include indra/sources/isi/isi_verb_to_indra_statement_type.tsv
include indra/tools/machine/default-config.yaml
include indra/tools/reading/util/reach_conf_fmt.txt
include indra/assemblers/cag/cag_style.json
include indra/assemblers/cag/cag_template.js
include indra/assemblers/html/templates/indra/template.html
include indra/assemblers/html/templates/indra/statements_view.html
include indra/literature/pmids_auth_xml.txt
include indra/literature/pmids_fulltext.txt
include indra/literature/pmids_oa_txt.txt
include indra/literature/pmids_oa_xml.txt
