<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Results Browser</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        // get a pubmed xml based on a pmid
        function getPubMedMETAxmlByPMID(pmid) {
            var pubmed_fetch = "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi";
            params_dict = {'db': 'pubmed',
                'retmode': 'xml',
                'rettype': 'docsum',
                'id': pmid
            };
            PubMedMETAxml = $.ajax({
                url: pubmed_fetch,
                type: "POST",
                dataType: "xml",
                data: params_dict,
            });
            return PubMedMETAxml
        };

        // Get a dictionary from pubmed xml
        function pmidXML2dict(XML) {
            xml_dict = {};
            for (child of XML.children) {
                name = child.getAttribute("Name");
                type = child.getAttribute("Type");
                if (child.hasChildNodes() & type == "List") {
                    // Javascript can't really do nice recursive functions...
                    // special cases for "History" and "ArticleIds" which has unique inner Names
                    if (name == "ArticleIds" | name == "History") {
                        innerDict = {};
                        for (c of child.children) {
                            innerDict[c.getAttribute("Name")] = c.textContent;
                        }
                        innerItems = innerDict;
                    } else {
                        innerList = [];
                        for (c of child.children) {
                            innerList.push(c.textContent);
                        }
                        innerItems = innerList;
                    }
                    xml_dict[name] = innerItems
                } else if (child.tagName == "Item") {
                    // Here just get the inner strings
                    xml_dict[name] = child.textContent;
                } else if (child.tagName == "Id") {
                    // Special case
                    xml_dict["Id"] = child.textContent;
                } else {
                    if (!xml_dict["no_key"]) {
                        xml_dict["no_key"] = [child.textContent]
                    } else {
                        xml_dict["no_key"].push(child.textContent)
                    }
                }
            }
            return xml_dict;
        }

        // Modify link hover text
        function setPMIDlinkTitle(pmid, link_tag) {
            let pubmed_xml_promise = getPubMedMETAxmlByPMID(pmid);
            pubmed_xml_promise.then(function(responseXML) {
                docsum_XML = docsum_xml = responseXML.getElementsByTagName('DocSum')[0];
                pmid_meta_dict = pmidXML2dict(docsum_xml);
                // console.log('DEBUG: pmid_meta_dict')
                // console.log(pmid_meta_dict)
                authorlist = pmid_meta_dict.AuthorList
                if (authorlist.length > 3) {
                    authors = authorlist[0] + ", ... " + authorlist[authorlist.length-1];
                } else {
                    authors = authorlist.join(", ");
                }
                // Shortened journal name is in .Source, while full name is in .FullJournalName
                journal = pmid_meta_dict.Source
                SO = pmid_meta_dict.SO
                title = pmid_meta_dict.Title

                pmid_hover_string = authors + ", \"" + title + "\", " + journal + ", " + SO
                link_tag.title = pmid_hover_string;
            })
        }

        function populatePMIDlinkTitles () {
            var pmid_link_array = document.getElementsByClassName("pmid_link");
            for (link_obj of pmid_link_array) {
                pmid = link_obj.textContent;
                setPMIDlinkTitle(pmid, link_obj)
            }
        }

        var readyStateCheckInterval = setInterval(function() {
            // options are "loading", "interactive", "complete"
            if (document.readyState === "complete") {
                clearInterval(readyStateCheckInterval);
                populatePMIDlinkTitles();
            }
        }, 1000); // Time interval in milliseconds

        // Expand/collapse row
        $(function() {
            $("td[colspan=4]").find("div").hide();
            $("tr").click(function(event) {
                event.stopPropagation();
                var $target = $(event.target);
                $target.closest("tr").next().find("div").slideToggle();
            });
        });

        // Submit curation
        function submitCuration(curation_dict, stmt_lvl, hash) {
            var api_key = "";
            console.log("api key: " + api_key)
            curation_addr = "https://lsm6zea7gg.execute-api.us-east-1.amazonaws.com/production/curation/submit/";
            // stmt_lvl = {'pa', 'raw'}
            _url = curation_addr + stmt_lvl + "/" + hash;
            console.log("url: " + _url);
            response = $.ajax({
                url: _url,
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(curation_dict),
                });
            return response;
        };

        function buttonClick(pn, btn_row_tag) {
            // DROPDOWN ERROR SELECT
            // Get div node for dropdown, then the select tag
            s = pn.getElementsByClassName("dropdown")[0]
                .getElementsByTagName("select")[0]
            // Get the selected option from the select tag
            err_select = s.options[s.selectedIndex].value;

            // TEXT BOX
            // Get "form" node, then the value of "input"
            user_text = pn
                        .getElementsByClassName("form")[0]
                        .getElementsByTagName("input")[0]
                        .value;

            // PMID
            // Step back to the preceding tr tag
            pmid_row = btn_row_tag.prev();
            // Get pmid_linktext content
            pmid_text = pmid_row[0]
                    .getElementsByClassName("pmid_link")[0]
                    .textContent;

            // IMPLEMENT HASH UUID ETC HERE
            hash = "";
            stmt_level = "pa"
            uuid = ""
            hash = ""
            source = ""
            curator = ""

            // example: curation_dict = {'tag': 'Reading', 'source': '', 'text': '"3200 A" is picked up as an agent.', 'curator': 'Klas'};
            cur_dict = {
                        'tag': err_select, 
                        'source': source, 
                        'text': user_text, 
                        'curator': curator
                    };

            console.log("Error selected: " + err_select)
            console.log("User feedback: " + user_text)
            console.log("PMID: " + pmid_text)
            console.log("cur_dict")
            console.log(cur_dict)

            // ajx_response = submitCuration(cur_dict, stmt_level, hash);

            // ajx_response.then(function(responseXML) {
            //     if (responseXML.status != 200) {
            //         alert("Curation was not submitted...")
            //     }
            // })
        };

    </script>
    <!-- /KLAS USER SCRIPTS -->

  <style>
.label-subject {
  background-color: #4a36aa;
}
.label-object {
  background-color: #2d8e4c;
}
.label-other {
  background-color: #606060;
}
  </style>

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Results Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
         <!--
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
           -->
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <div>
          <p>&nbsp;
      </div>
      <div class="page-header">
        <a name='index'></a>
        <h1>Index of Results</h1>
      </div>

      <p>Statements are sorted according to amount of evidence.</p>

    <div class="page-header">
        <h1>Detailed Results</h1>
    </div>
    {% for stmt_info in statements %}
    <a name='{{ stmt_info['hash'] }}'></a>
    <div class="statement">
        <h4 class="align-middle">{{ stmt_info['english'] }}
            <a href="./from_hash/{{ stmt_info['hash'] }}?format=html">
                <span class="badge">{{ stmt_info['evidence_count'] }}</span></a>
        </h4>
    </div>
    <div class="evidence">
    <p><a href='#index'>Back to index</a>
          <table class="table" style="border-collapse: collapse;">
            <thead>
              <tr>
                <th>Source</th>
                <th>Evidence</th>
                <th>PMID</th>
              </tr>
            </thead>
            <tbody>
                {% for ev in stmt_info['evidence'] %}
                <tr class="parent" style="border-bottom: 1px solid #FFFFFF;">
                    <td class="curation_toggle">&#9998;</td>
                    <td>{{ ev['source_api'] }}</td>
                    <td>"{{ ev['text'] }}"</td>
                    <td>
                        <a class="pmid_link"
                href='https://www.ncbi.nlm.nih.gov/pubmed/{{ ev['pmid'] }}'>
                        {{ ev['pmid'] }}
                        </a>
                    </td>
                </tr>
                <tr class="cchild" style="border-top: 1px solid #FFFFFF;">
                    <td colspan="4" style="padding: 0px; border-top: 1px solid #FFFFFF;">
                    <div class="dropdown" 
                         style="display:inline-block; vertical-align: middle;">
                        <select>
                            <!-- "option" before choosing an option -->
                            <option value="" selected disabled hidden>
                                Select error type...
                            </option>
                            <!-- ERROR DROP DOWN OPTIONS -->
                            <option value="grounding">Grounding</option>
                            <option value="polarity">Polarity</option>
                            <option value="relation">Relation</option>
                            <option value="negative_result">Negative Result</option>
                            <option value="hypothesis">Hypothesis</option>
                            <option value="other">Other...</option>
                        </select>
                    </div>
                    <div class="form" 
                         style="display:inline-block; 
                                vertical-align: middle; 
                                top: 0px">
                        <form name="user_feedback_form">
                            <input type="text" 
                                   maxlength="240"
                                   name="user_feedback" 
                                   placeholder="Optional description (240 chars)" 
                                   value=""
                                   style="width: 360px;">
                        </form>
                    </div>
                    <div id="n" 
                         class="curation_button"
                         style="display:inline-block; 
                                vertical-align: middle;">
                        <button
                            id="n"
                            type="button"
                            class="btn btn-default btn-submit pull-right"
                            style="padding: 2px 6px">Submit
                        </button>
                        <script type="text/javascript">
                        $(".btn-submit").on("click", function(b){
                            // Get parent node
                            parent_node = b.target.parentNode.parentNode
                            // Get reference to closest row tag (jquery)
                            this_row = $(this).closest("tr")
                            buttonClick(parent_node, this_row)
                        })
                        </script>
                    </div>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div> <!-- evidence -->
    {% endfor %}

    {% if rest_api_results %}
    <div class="page-header">
        <h4>About this result</h4>
    </div>
    <ul>
        <li>Statements returned: {{ rest_api_results['statements_returned'] }}</li>
        <li>Statement limit: {{ rest_api_results['statement_limit'] }}</li>
        <li>Total evidence: {{ rest_api_results['total_evidence'] }}</li>
        <li>Evidence limit: {{ rest_api_results['evidence_limit'] }}</li>
        <li>Evidence returned: {{ rest_api_results['evidence_returned'] }}</li>
        <li>Offset: {{ rest_api_results['offset'] }}</li>
    </ul>
    {% endif %}

    </div> <!-- /container -->
  </body>
</html>

