sphinx_rtd_theme
sphinx
sphinx-argparse
sphinx_autodoc_typehints
mock
ipython
matplotlib
future
requests
pysb
pandas
rdflib==4.2.1
jinja2
protmapper
pyyaml
networkx>=2.1
obonet
pybel
unidecode
pybiopax
scikit-learn
pronto
