<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://bigmech.s3.amazonaws.com/indra-db/favicon.ico">

    <title>{{ title }}</title>

    <!-- CSS only -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">

    <style>
        a {
            color: #256DC5;
            target-new: tab;
        }
        h1 {
            margin-bottom: 0;
        }
        .page-header {
            padding: 1em;
        }

    </style>

    {% block scripts %}
    {% endblock %}

</head>

<body>
<div class="container">
    <!-- Page Header -->
    <div class="page-header">
        {% block header %}
            <h1>{{ title }}</h1>
        {% endblock %}
    </div>
    {% block header_desc %}
    {% endblock %}
    <hr>
    {% block body %}
    {% endblock %}
    <hr>
    <!-- Footer -->
    <footer class="footer text-muted" id="about">
        <h5 class="my-0 mr-md-auto font-weight-normal">About</h5>

        INDRA is developed by <a href="https://indralab.github.io/">indralabs</a>,
        a part of the Harvard Medical School Laboratory of Systems Pharmacology.

        {% block additional_footer %}
        {% endblock %}
    </footer>
</div>
</body>
</html>
